<div class="main-content">
  <div class="container-fluid">    
      <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Relátório de Logística</h4>
                    <p class="card-category">Quantidade de combustível utilizada X Quantidade de material transportado por mês</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Data início</th>
                            <th>Data fim</th>
                            <th>Combustível (litros) </th>
                            <th>Material (quilos)</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let logisticReportItem of logisticReportData">
                                <td>{{ logisticReportItem.startDate | date:'dd/MM/yyyy'  }}</td>
                                <td>{{ logisticReportItem.endDate | date:'dd/MM/yyyy'  }}</td>
                                <td>{{ logisticReportItem.fuel  }}</td>
                                <td>{{ logisticReportItem.charge  }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Relatório de funcionários</h4>
                      <p class="card-category">Quadro de funcionários afastados</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Nome</th>
                              <th>Cargo</th>
                              <th>Motivo</th>
                              <th>Data Afastamento</th>
                              <th>Previsão de Retorno</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>João Teste 1</td>
                                  <td>Operador</td>
                                  <td>Acidente trabalho</td>
                                  <td>02/02/2021</td>
                                  <td>02/06/2021</td>
                              </tr>
                              <tr>
                                <td>José Teste 2</td>
                                <td>Operador</td>
                                <td>Licença Partenidade</td>
                                <td>20/03/2021</td>
                                <td>26/03/2021</td>
                            </tr>
                            <tr>
                                <td>Maria Teste 4</td>
                                <td>RH</td>
                                <td>Licença Maternidade</td>
                                <td>25/03/2021</td>
                                <td>25/11/2021</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
