<div class="main-content">
    <div class="container-fluid" style="margin-left: 20%; !important">
      <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img" >
                <img src="/assets/img/sigo.png" style="width: 85px; margin-left: 20%; !important" />
             </div>
        </a>
        <h3> Sistema Integrado de Gestão Operacional </h3>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Log In</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Login">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password">
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="logIn()">Login</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  