<div class="login">
    <form>
      <div class="logo-tms">
        <div>
          <mat-icon class="white-icon gear">settings</mat-icon>
        </div>
        <div>
          <div class="white-icon">
            <span>SIGO</span>
            <br>
            <p class="white-icon">Sistema Integrado de Gestão Operacional</p>
          </div>
        </div>
      </div>
      <mat-card>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
          <div class="signin-container">
            <mat-form-field>
              <input matInput placeholder="E-mail" type="email" name="email" required autofocus maxlength="64">
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" required maxlength="64">
              <mat-icon id="visibility" matSuffix>visibility</mat-icon>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="alert alert-danger alert-dismissable text-left">
            <span>
               <br />
            </span>
          </div>
          <button mat-button>Login</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <!-- <app-footer class="login-footer"></app-footer> -->
  