<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Normas Técnicas Regulatórias</h4>
                      <p class="card-category">Relação de normas cumpridas ou não cumpridas</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Código
                                  </th>
                                  <th>
                                      Descrição
                                  </th>
                                  <th>
                                    Publicação
                                 </th>
                                  <th>
                                      Cumprida
                                  </th>
                                  <th>
                                      Categoria
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          00001
                                      </td>
                                      <td>
                                        A seguinte norma regulatória na área de segurança do trabalho, determina que os funcionários estejam com uso obrigatório de EPis.
                                      </td>
                                      <td>
                                        08/12/2020
                                    </td>                                     
                                      <td>
                                        <span class="material-icons">check</span>
                                      </td>
                                      <td>
                                          Segurança do Trabalho
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        00002
                                    </td>
                                    <td>
                                        A seguinte norma regulatória na industrial, determina que equimamentos industriais com mais de 20 anos de uso sejam vistoriados regularmente.
                                    </td>
                                    <td>
                                       20/12/2020
                                  </td>                                     
                                    <td>
                                        <span class="material-icons">check</span>
                                    </td>
                                    <td>
                                        Industrial
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        00003
                                    </td>
                                    <td>
                                        A seguinte norma regulatória na ambiental, determina que o descarte de resíduos seja feito através de descarte seletivo.
                                    </td>
                                    <td>
                                        01/02/1998
                                  </td>                                     
                                    <td>
                                        <span class="material-icons">close</span>
                                    </td>
                                    <td>
                                        Ambiental
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
