<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Normas Técnicas Regulatórias</h4>
                      <p class="card-category">Relação de normas cumpridas ou não cumpridas</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Código
                                  </th>
                                  <th>
                                      Descrição
                                  </th>
                                  <th>
                                    Publicação
                                 </th>
                                  <th>
                                      Cumprida
                                  </th>
                                  <th>
                                      Categoria
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let regulatoryNorm of regulatoryNorms">
                                      <td>
                                          {{regulatoryNorm.code}}
                                      </td>
                                      <td>
                                        {{regulatoryNorm.description}}
                                      </td>
                                      <td>
                                        {{regulatoryNorm.releaseDate | date:'dd/MM/yyyy'}}
                                    </td>                                     
                                      <td>
                                        <span class="material-icons">{{ regulatoryNorm.isApplied === true ? 'check' : 'clear' }}</span>
                                      </td>
                                      <td>
                                        {{ regulatoryNormCategory[regulatoryNorm.category]}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
